@media (max-width:414px){

    body{
        overflow-y: hidden;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: black;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        overflow: hidden;
    }

    .carro > img{
        display: flex;
        transform: translate(0%, 17%);
        width: 70px;
    }

    .nome{
        font-family: var(--font1);
        font-size: 30px;
        display: flex;
        color: white;
        transform: translate(1%, -300%);
    
    }
    
    .twitter{
        display: flex;
        justify-content: stretch;
        transform: translate(0%,-149%);
        gap: 90px;
        align-items: center;
        height: 50px;
        width: 360px;
        background-color: #1f1c1b;
        margin: 25px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
    }    

    .instagram{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -199%);
        gap: 90px;
        align-items: center;
        height: 50px;
        width: 360px;
        background-color: #1f1c1b;
        margin: 25px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
        
    }

    .github{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -224%);
        gap: 90px;
        align-items: center;
        height: 50px;
        width: 360px;
        background-color: #1f1c1b;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
        
        
    }

    .spotify{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -252%);
        gap: 90px;
        align-items: center;
        height: 50px;
        width: 360px;
        background-color: #1f1c1b;
        margin: 25px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
    }   

    
    footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    gap: 15px;
    display: flex;
    justify-content: center;
    transform: translate(-0%, -157%);
    width: 90vw;
    }   


    @keyframes dirigir{
    
        from{transform:translateX(-140px);}
        to{transform: translateX(120px);}
    }
}
/* ------------------------------------------------------------------ */
@media(max-width:320px){

    .twitter{
        display: flex;
        justify-content: stretch;
        transform: translate(0%,-149%);
        gap: 70px;
        align-items: center;
        height: 50px;
        width: 310px;
        background-color: #1f1c1b;
        margin: 15px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
    }    

    .instagram{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -175%);
        gap: 70px;
        align-items: center;
        height: 50px;
        width: 310px;
        background-color: #1f1c1b;
        margin: 15px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
        
    }

    
    .github{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -195%);
        gap: 70px;
        align-items: center;
        height: 50px;
        width: 310px;
        background-color: #1f1c1b;
        margin: 15px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
        
        
    }

    .spotify{
        display: flex;
        justify-content: stretch;
        transform: translate(0%, -195%);
        gap: 70px;
        align-items: center;
        height: 50px;
        width: 310px;
        background-color: #1f1c1b;
        margin: 15px;
        color: rgba(245, 245, 245, 0.671);
        border-radius: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 150;
        font-size: 25px;
    }   

    .carro{
        display: none;
    
    }
}